<% include partials/header %>
<div class="col-lg-8 col-md-6" >
    <div id="leftElement">
        <li class="backgroundIMG" id="backgroundIMG4"></li>
    </div>
</div>
<div class="col-lg-4 col-md-6" id ="rightElement">
    <div class="container">
        <h2 style="text-transform: uppercase;"><%= gig.place %> (<%= gig.event %>)</h2>
        <p style="margin-top: 20px;">
            <%= gig.start_date %>
            <% if (gig.end_date) { %>
                - <%= gig.end_date %>
            <% } %>
        </p>
        <p><%= gig.address %> (<a href="<%= gig.map_url %>">Map</a>)</p>
        <button onclick="window.history.back()">Back</button>
    </div>
</div>
<% include partials/footer %>